# Standalone rippled — candidate node (isolated, no Mainnet peers)
[server]
port
port_rpc
port_ws

[port_rpc]
port = 51234
ip = 0.0.0.0
admin = 0.0.0.0

[port_ws]
port = 6006
ip = 0.0.0.0

[node_size]
small

[validation_quorum]
1

[peers]
0

[ledger_txn]
200
[ledger_history]
256

[node_db]
type=NuDB
path=/var/lib/ripple/db/nudb
online_delete=300
advisory_delete=0

[database_path]
/var/lib/ripple/db

[network_id]
1338

[validation_seed]
sEdV19Eit5j8ei7r18ST67n4mCo1jFofb

[validators]
n9M94dPsAKtD6Y5CjtLKFg2pNMsch7fMKWY3fd4YTR4HUiJJua9

[validator_list_sites]

[validator_list_keys]

[rpc_startup]
1

[ssl_verify]
0
